.page-content {
  padding: 80px 20px 20px; /* 給 navbar 留空間 */
  font-family: Arial;
}

.form-check-input:checked {
  background-color: #007bff; /* 自訂顏色 */
  border-color: #007bff;
}

.form-check-input {
  border-radius: 50%;
  width: 20px;  /* 調整大小 */
  height: 20px;
}